body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact {
  margin: auto;
  margin-top: 50px;
  padding: 2%;
  width: 70%;
  height: 20%;
  border-radius: 40px;
  box-shadow: 10px 5px 5px grey;
  background-color: white;
}

.logo-contact {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.text-contact {
  text-align: center;
}

.img-contact {
  padding: 20px;
  width: 80%;
}
